[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EventDetectR"]
	path = EventDetectR
	url = https://github.com/frehbach/eventdetectr
	shallow = true
	registered = true
